<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utils.TestListener" />
	</listeners>
	<test name="Test">
		<classes>
			<!--  <class name="insuranceCalc_Motorcycle.ErrorTests_Motorcycle" /> -->
			<class name="insuranceCalc_Motorcycle.End2End_Motorcycle" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
